<html>
    <head>
        Form
    </head>
    <body>
        <h2>Please fill the following form: </h2>
        <br>
        <h3 style="color:red;">{{msg}}</h3>
        <form action="{{url_for('home_page')}}" method="POST" id="reg_form" onsubmit=" return validateForm()">
            <input type="text" name="usn" placeholder="Enter USN(eg: 1MS15IS044) here" required>
            <input type="text" name="dob" placeholder="Enter date in dd/mm/yy format here" required>
            <input type="submit" value="submit">
        </form>
        <script>
            function validateForm()
            {
                var form = document.getElementById('reg_form');

                if(form.usn.value=="" || form.dob.value=="")
                    {
                        alert('Missing values: USN and DOB. Please enter them');
                        return false;
                    }
                var usn_regex = /^[1][A-Z][A-Z][0-9][0-9][A-Z][A-Z][0-9][0-9][0-9]$/;
                // var usn_regex2 = /^[1][a-z][a-z][0-9][0-9][a-z][a-z][0-9][0-9][0-9]$/;
                if(!usn_regex.test(form.usn.value))
                {
                    alert('Invalid USN format.')
                    return false;
                }
                var date_regex = /^([0][1-9]|[12][0-9]|[3][01])[/]([0][1-9]|[1][012])[/]\d{4}$/;
                if(!date_regex.test(form.dob.value))
                {
                    alert('Invalid DOB format.')
                    return false;
                }
                return true;
            }
        </script>
    </body>
</html>