<html>
    <head>
        Bank Form
    </head>
    <body>
        <h2>Fill up the Bank Form</h2>
        <h3 style="color:red;">{{msg}}</h3>
        <h3 style="color:green;">{{msg2}}</h3>
        <h3><b></b>Balance: {{balance}}</h3>
        <form action="{{url_for('home_page')}}" method="POST" id='bank_reg'>
            Amount: <input type="number" name="amount" placeholder="Enter Amount here" required><br>
            <input type="submit" name="action" value="Withdraw" onsubmit="return validateForm(this)"><br>
            <input type="submit" name="action" value="Deposit" onsubmit="return validateForm(this)"><br>
        </form>

        <br>
        <h3>Number of Transactions: {{transactionCount}}</h3>
        <script>
            function validateForm(button) {
            var form = document.getElementBydId('bank_reg');

            if (form.amount.value == ""){
                alert('Cannot leave amount blank');
                return false;
            }
            if(form.amount.value < 0) {
                alert('Cannot give negative amount');
                return false;
            }
            if(form.amount.value > 10000) {
                alert('Cannot deposit amount greater than 10000');
                return false;
            }
            return true;
            }
        </script>
    </body>
</html>